<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class = "userProfile">
          <button class ="btn btn-primary float-right">{{user}}</button> 

        </div>
        <h1>{{msg}}</h1>
    <div>{{post}}</div>



        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="comment-description">Comment</label>
            <textarea class="form-control" id="comment-description" aria-describedby="commet-description" placeholder="Enter comment"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        </ul>
      </div>
    </div>
  </div>
</div>
