<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">

  {{!-- Logo --}}
  <a class="navbar-brand" href="/"><img src="/images/rabbit.png"> Down The Rabbit Hole </a>
  {{!-- Collapsible Button --}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarContent"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {{!-- Collapsible Content Category - Only For Media Responsive--}}
  <div id="nav-category" class="collapse navbar-collapse navbar-toggleable-md navbarContent">
    <ul class="navbar-nav mr-auto">
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">Category
          <span class="sr-only">Category Dropdown</span></a>
        <div class="dropdown-menu">
          {{#each categories}}
          <a class="dropdown-item" href="/posts/{{this.category}}">{{this.category}}</a>
          {{/each}}
        </div>
      </div>
    </ul>
  </div>

  {{!-- Collapsible Content Right --}}
  <div class="collapse navbar-collapse navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/login">Sign in
          <i class="fas fa-sign-in-alt"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

</nav>
<br>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>