
{{!-- Category as Side Nav --}}
<div id="sidenav-category" class="col-2">
  <div class="sidebar-nav navbar-dark bg-dark">
    <nav class="navbar sidenav">
      <ul class="navbar-nav">
        <li class="hvr-sweep-to-right nav-item">
          <a class="nav-link" href="/">All</a>
        </li>
        {{#each categories}}
        <li class=" hvr-sweep-to-right nav-item">
          <a class=" nav-link" href="/posts/{{this.category}}">{{this.category}}</a>
        </li>
        {{/each}}
      </ul>
    </nav>
  </div>
</div>
