{{!-- Toggle Wrapper --}}
<div id="toggle-wrapper">

  {{!-- Category as Side Nav --}}
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      {{!-- Collapsible Button --}}
      <li class="sidebar-brand"><a href="#menu-toggle" id="menu-toggle">
          <i id="arrow-menu" class="fas fa-angle-double-left" aria-hidden="true"></i></a>
      </li>
      {{!-- <li class="hvr-sweep-to-right"> --}}
      <li><a href="/"><i class="fas fa-carrot" aria-hidden="true"></i>
          <span>All</span></a>
      </li>
      {{!-- Collapsible Content Category --}}
      {{#each categories}}
      {{!-- <li class="hvr-sweep-to-right"> --}}
      <li><a href="/posts/{{this.category}}"><i class="fas fa-carrot" aria-hidden="true"></i>
          <span>{{this.category}}</span></a>
      </li>
      {{/each}}
    </ul>
  </div>

</div>