<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="icon" type="png" href="/images/rabbit.png">
  <title>Down The Rabbit Hole</title>

  {{!-- Latest compiled and minified CSS & JS  --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  {{!-- Font Awesome CSS --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
  {{!-- Custom CSS --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="/styles/hover.css" rel="stylesheet">

  {{!-- Added link to the jQuery Library --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>

  {{!-- Microlink SDK Vanilla/UMD bundle --}}
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/@microlink/vanilla@latest/umd/microlink.min.js"></script>
  

</head>

<body class="bg">
  {{{body}}}

  <script>
    microlink('.link-preview')
  </script>


</html>