<div id="display-posts">
  <!-- Header -->
  <div class="container mt-5 mb-5 text-center">
    <div class="row">
      <div class="col-12">
        <h1>Posts Here...</h1>
        <hr class="my-4">
        <h3>Explore these news and trendings...</h3>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h3 class="text-center">Posts Here</h3>
        {{!-- Iterate through 'posts' data item. --}}
        {{#each posts}}
        <div class="card mt-4">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            {{!-- <h5 class="card-title">Example</h5> --}}
            <h5 class="card-title">{{this.text}}</h5>
            <p class="card-text"><strong>Description</strong>: {{this.description}}</p>

            <a href="/" class="btn btn-primary"><i class="fas fa-home"></i> Back To Home</a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
