<div>
  <div id="login">
    <div class="container text-center">
      <div class="card mb-5">
        <div class="card-body">
          <form class="form-signin">
            {{!-- Login Post Form --}}
            <a href="/"><img class="bunny" width="120" height="120" src="/images/rabbit.png"></a>
            <h1 class="mb-5 signin">Sign in</h1>
            <label for="inputEmail" class="sr-only">Email Address</label>
            <input type="email" id="inputEmail" class="form-control mb-3" placeholder="Email Address" required />
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required />
            <br>
            <button class="btn btn-lg btn-primary mr-2" id="submit" type="submit">Sign in</button>
            <button class="btn btn-lg btn-secondary ml-2" id="createAccount">Create Login here</button>
          </form>

          {{!-- Modal --}}
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>Please check your Username/Password</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



<link rel="stylesheet" href="/styles/login.css" media="screen" title="no title" charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/login.js"></script>