 {{!-- NAV PARTIAL --}}
<div class="nav">
{{>miniNav}}
</div>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class = "userProfile">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>

        </div>
        <h1>{{msg}}</h1>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="post-text">Title</label>
            <input type="text" id="post-text" class="form-control" aria-describedby="post-text" placeholder="Enter post Text">
          </div>
          <div class="form-group">
            <label for="post-description">Body</label>
            <textarea class="form-control" id="post-description" aria-describedby="post-description" placeholder="Enter post Description"></textarea>
          </div>
            <div class="form-group">
            <label for="post-category">Category</label>
            <input type="text" id="post-category" class="form-control" aria-describedby="post-text" placeholder="Enter Category">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/post.js"></script>
