<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Title</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Body</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
            <div class="form-group">
            <label for="example-category">Category</label>
            <input type="text" id="example-category" class="form-control" aria-describedby="example-text" placeholder="Enter Category">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
