{{!-- NAV PARTIAL --}}
<div class="nav">
  {{>nav}}
</div>
<br><br>

{{!-- Display All Posts --}}
<div class="mb-5" id="display-posts">

  {{!-- Header Welcome User --}}
  {{>welcome}}

  {{!-- Body --}}
  <div class="container">
    <div class="row">

      {{!-- Show All Posts --}}
      <div class="col-8 offset-2">
        {{!-- Iterate through 'posts' data item. --}}
        {{#each posts}}
        <div class="card mt-4">
          {{!-- Title as card header --}}
          <h5 class="card-header"><a href="/post/{{this.id}}">{{this.text}}</h5></a>
          <div class="card-body">
            <p class="card-text">{{{this.description}}}</p>

          </div>
        </div>
        {{/each}}
      </div>

    </div>
  </div>
  {{!-- End Body --}}
</div>
<link rel="stylesheet" href="/styles/main.css" media="screen" title="no title" charset="utf-8">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/display.js"></script>