/* ----------------------------
 Category Sidebar Nav
---------------------------- */

body {
  overflow-x: hidden;
}

/* Toggle Styles */

#toggle-wrapper {
  padding-left: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
#toggle-wrapper.toggled {
  padding-left: 200px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  top: 78px;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;

  overflow-y: auto;
  background-color: #312a25;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#toggle-wrapper.toggled #sidebar-wrapper {
  width: 0;
}
#toggle-wrapper.toggled {
  position: absolute;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  right: 15px;
  width: 180px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 1rem;
  line-height: 2.5rem;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #312a25;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

/* ----------------------------
 Media Responsive
---------------------------- */

/* Bootstrap grid > 768px */

@media only screen and (min-width: 768px) {
  #toggle-wrapper {
    padding-left: 220px;
  }
  #toggle-wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 180px;
  }
  #toggle-wrapper.toggled #sidebar-wrapper {
    width: 50px;
  }
  #toggle-wrapper.toggled span {
    visibility: hidden;
  }
  #toggle-wrapper.toggled i {
    float: left;
    padding-top: 1rem;
  }
  #toggle-wrapper.toggled {
    margin-right: 0;
  }
}
